@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$bg-color: #323232;
$primary-color: #515253;
$secondary-color: #03060d;
$font-color: #f2f2f2;
$body-font: 'Raleway', sans-serif;
$small: 450px;
$medium: 750px;
$large: 1050px;

@mixin header-font {
    font-family: 'Cinzel Decorative', serif;
    letter-spacing: 1px;
}

@import 'partials/main';
@import 'partials/card';

