#cards {
	@include grid-row();
	
	.card-box {
		@include grid-column(3);
		height: 150px;
		position: relative;
		
		.card {
			width: 100%;
			height: 100%;
			position: absolute;
			transform-style: preserve-3d;
			transition: all 1s ease-in-out;
			background-color: pink;
			
			&.flipped {
				transform: rotateY(180deg);
				background-color: yellow;
			}
		}
	}
}